<div>
    <img src="{{movie.image}}" alt="movie" />
</div>

<div>
    <h3>{{movie.title}}</h3>
    <h4>Director: {{movie.director}}</h4>
    <h5>Stars</h5>

<ul>
    {{#each movie.stars}}
    <li>{{this}}</li>
    {{/each }}
</ul>

<p>{{movie.description}}</p>

<ul>
    {{#each movie.showtimes}}
    <span>{{this}} | </span>
    {{/each }}
</ul>

</div>